﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization

@inject IOptions<RequestLocalizationOptions> locOptions
@inject IViewLocalizer localizer
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IOptions<RequestLocalizationOptions> locOptions
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["Title"] = @localizer["ContactUs"];
}
<section class="contact_section layout_padding">
    <div class="container mt-5">
        <h1 class="text-center mb-4">@localizer["ContactUs"]</h1>
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <h4><i class="fa fa-phone me-2"></i>@localizer["Mobile"]</h4>
                        <p class="text-muted">+966 118 050 215</p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <h4><i class="fa fa-globe me-2"></i>@localizer["Website"]</h4>
                        <p class="text-muted">
                            <a href="https://cba.ksu.edu.sa/ar" target="_blank">@localizer["WebsiteName"]</a>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>