@model FormModel

@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IOptions<RequestLocalizationOptions> locOptions
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}

<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            @if (ViewData["Message"] != null)
            {
                <div class="alert alert-info">
                    @ViewData["Message"]
                </div>
            }
            <h2>@localizer["ContactUs"]</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form asp-action="SaveForm" enctype="multipart/form-data" method="post">
                    <div>
                        @Html.TextBoxFor(m => m.Name, new { placeholder = localizer["Name"].Value, @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { placeholder = localizer["Email"].Value, @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.Phone, new { placeholder = localizer["Phone"].Value, @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.DropDownListFor(m => m.Gender, new SelectList(new[] {
                        new { Value = "", Text = localizer["Select Gender"].Value },
                        new { Value = "Male", Text = localizer["Male"].Value },
                        new { Value = "Female", Text = localizer["Female"].Value }
                            }, "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                    </div>
                    <div><br /></div>
                    <div>
                        @Html.TextAreaFor(m => m.Message, new { placeholder = localizer["Message"].Value, @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                    </div>
                    <div><br /></div>
                    <div>
                        @Html.TextBoxFor(m => m.Title, new { placeholder = localizer["Title"].Value, @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.Company, new { placeholder = localizer["Company"].Value, @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Company, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.Position, new { placeholder = localizer["Position"].Value, @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Position, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.Country, new { placeholder = localizer["Country"].Value, @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <input type="file" name="File" class="form-control">
                    </div>
                    <div class="d-flex ">
                        <button type="submit">@localizer["Submit"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>