@model IEnumerable<ContactFormSubmission>

@using System.IO
﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IOptions<RequestLocalizationOptions> locOptions
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["Title"] = "Admin Login";
}

<section class="container my-4">
    <h2 class="text-center mb-4">@localizer["SubmittedForms"]</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>@localizer["Name"]</th>
                    <th>@localizer["Email"]</th>
                    <th>@localizer["Phone"]</th>
                    <th>@localizer["Gender"]</th>
                    <th>@localizer["Message"]</th>
                    <th>@localizer["Date"]</th>
                    <th>@localizer["Title"]</th>
                    <th>@localizer["Company"]</th>
                    <th>@localizer["Position"]</th>
                    <th>@localizer["Country"]</th>
                    <th>@localizer["File"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var submission in Model)
                {
                    <tr>
                        <td>@submission.Name</td>
                        <td>@submission.Email</td>
                        <td>@submission.Phone</td>
                        <td>@submission.Gender</td>
                        <td>@submission.Message</td>
                        <td>@submission.SubmittedAt</td>
                        <td>@submission.Title</td>
                        <td>@submission.Company</td>
                        <td>@submission.Position</td>
                        <td>@submission.Country</td>
                        <td>
                            @{ var name = submission.Path; }
                            @if (name != "" && name != null)
                            {
                                <a href="@Url.Action("GetFile", "Form", new { fileName = System.IO.Path.GetFileName(submission.Path) })" target="_blank">Download File</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>