@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IOptions<RequestLocalizationOptions> locOptions
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["Title"] = "Home Page";
}

<div class="hero_area">
    <section class="slider_section ">
        <div class="container ">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="detail-box">
                        <h1>
                            @localizer["ConferenceName"]
                        </h1>
                        <p>
                            @localizer["ConferenceTitle"]
                        </p>
                        <a href="https://localhost:7271/Contact/ContactUs">
                            @localizer["ContactUs"]
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="images/banen-Photoroom (1).png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<br />
<br />

<section class="service_section layout_padding">
    <div class="container ">
        <div class="heading_container heading_center">
            <h2> Announcement </h2>
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-6 mx-auto">
                <div class="box ">
                    <div class="img-box">
                        @* <img src="images/s1.png" alt="" /> *@
                    </div>
                    <div class="detail-box">
                        <h5>
                            Golden Opportunity for Researchers and Academics!

                        </h5>
                        <p>
                            In collaboration with Emerald Global, as part of the 4th Conference of Administrative Sciences Colleges in GCC Universities, bringing creativity and culture together under the theme:
                            "Cultural and Creative Economy: Present Potentials and Promising Opportunities"
                            <br />
                            We invite you to attend two exceptional workshops:
                            "Mastering the Path to Successful Academic Publishing"
                            <br />
                            Do you want to amplify your research visibility globally?
                            <br />
                            Are you looking to select the right journal and increase your citations?
                            <br />
                            Do you need strategies to avoid predatory journals and ensure research integrity?
                            <br />
                            These workshops are designed just for you!
                            <br />
                            <br />
                            <strong>First Session</strong>
                            <br />
                            Date: January 27th, 7:00 PM Riyadh Time
                            <br />
                            <div class="btn-box">
                                <a href="https://attendee.gotowebinar.com/register/1023744726313003608">
                                    Registration
                                </a>
                            </div>
                            <br />
                            <strong>Second Session</strong>
                            <br />
                            Date: February 17th, 7:00 PM Riyadh Time
                            <br />
                            <div class="btn-box">
                                <a href="https://attendee.gotowebinar.com/register/1454640034703629399">
                                    Registration
                                </a>
                            </div>
                            <br />

                            💡 What Will You Learn?

                            The true value of publishing your research and how to achieve success
                            Effective strategies to boost your research impact globally
                            Techniques to choose the right journal and improve acceptance rates
                            Methods to protect your research from predatory publications
                            🎯 Who Should Attend?

                            Novice researchers
                            Experienced academics
                            PhD candidates
                            Research professionals
                            🔔 Additional Benefits:

                            Participation certificates for attendees
                            Practical tools and techniques to elevate your academic journey
                            📩 Register now and take your research to new heights of success!
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-4 mx-auto">
                <div class="box ">
                    <div class="img-box">
                    </div>
                    <div class="detail-box">
                        <h5>
                            exploring Emerald Resources: Your Gateway to Excellence
                        </h5>
                        <p>
                            wJoin us for an exclusive training session on maximizing your research potential with Emerald Databases, as part of the 4th Conference of Administrative Sciences Colleges of GCC Universities under the theme:
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="detail-box">
                    <h3>
                        @localizer["AboutUs"]
                    </h3>
                    <p>
                        @localizer["AboutUsContent"]
                    </p>
                </div>
            </div>
            <div class="col-lg-9 col-md-6">
                <div class="img-box">
                    <img src="images/c8.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-6">
                <div class="img-box">
                    <img src="images/c1.jpeg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="detail-box">
                    <h3>
                        @localizer["ConferenceVision"]
                    </h3>
                    <p>
                        @localizer["ConferenceVisionContent"]
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="detail-box">
                    <h3>
                        @localizer["ConferenceMission"]
                    </h3>
                    <p>
                        @localizer["ConferenceMissionContent"]
                    </p>
                </div>
            </div>
            <div class="col-lg-9 col-md-6">
                <div class="img-box">
                    <img src="images/p3.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-6">
                <div class="img-box">
                    <img src="images/c2.jpeg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="detail-box">
                    <h3>
                        @localizer["ConferenceObjectives"]
                    </h3>
                    <p>
                        @localizer["ConferenceObjectivesContent"]
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_section layout_padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="detail-box">
                    <h3>
                        @localizer["CCC_CBA"]
                    </h3>
                    <p>
                        @localizer["CCC_CBA_Content"]
                    </p>
                </div>
            </div>
            <div class="col-lg-9 col-md-6">
                <div class="img-box">
                    <img src="images/c7.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="client_section ">
    <div class="container">
        <div class="heading_container heading_center">
            <h3>Sponsers</h3>
        </div>
        <div class="carousel-wrap layout_padding2-top ">
            <div class="owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="client_id">
                            <div class="img-box">
                                <img src="images/client-1.jpg" alt="">
                            </div>
                            <div class="client_detail">
                                <div class="client_info">
                                    <h6>
                                        Jorch morik
                                    </h6>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="client_text">
                            <p>
                                chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="client_id">
                            <div class="img-box">
                                <img src="images/client-2.jpg" alt="">
                            </div>
                            <div class="client_detail">
                                <div class="client_info">
                                    <h6>
                                        Jorch morik
                                    </h6>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="client_text">
                            <p>
                                chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />
<br />
<br />