﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IOptions<RequestLocalizationOptions> locOptions
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["Title"] = "Strategic Partner Benefits";
}

<br />
<br />
<br />
<br />

<section class="about_section layout_padding-bottom">
    <div class="container d-flex justify-content-center">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 text-center">
                <div class="detail-box">
                    <h2>
                        @localizer["Sponsorship700"]
                    </h2>
                    @localizer["Sponsorship700Content"]
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_section layout_padding-bottom">
    <div class="container d-flex justify-content-center">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 text-center">
                <div class="detail-box">
                    <h2>
                        @localizer["Sponsorship500"]
                    </h2>
                    @localizer["Sponsorship500Content"]
                </div>
            </div>

        </div>
    </div>
</section>

<section class="about_section layout_padding-bottom">
    <div class="container d-flex justify-content-center">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 text-center">
                <div class="detail-box">
                    <h2>
                        @localizer["Sponsorship400"]
                    </h2>
                    @localizer["Sponsorship400Content"]
                </div>
            </div>

        </div>
    </div>
</section>

<section class="about_section layout_padding-bottom">
    <div class="container d-flex justify-content-center">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 text-center">
                <div class="detail-box">
                    <h2>
                        @localizer["Sponsorship300"]
                    </h2>
                    @localizer["Sponsorship300Content"]
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_section layout_padding-bottom">
    <div class="container d-flex justify-content-center">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 text-center">
                <div class="detail-box">
                    <h2>
                        @localizer["Sponsorship250"]
                    </h2>
                    @localizer["Sponsorship250Content"]
                </div>
            </div>
        </div>
    </div>
</section>